{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react-hooks", "jest"],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
