@import "sass/setup";

@keyframes checked {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.tile__label {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.tile__label--disabled,
.tile__label--dirty {
  cursor: default;
}

.tile__label--o-highlight {
  background-color: $circle-green-lighten;
}
.tile__label--x-highlight {
  background-color: $cross-red-lighten;
}

.tile__radio-input {
  display: inline-block;
  @include a11y-visually-hidden();
}

.tile__placeholder {
  position: absolute;
  font-size: 4rem;
  color: $placeholder-gray;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: color, text-shadow;
  transition-duration: 0.12s;
  transition-timing-function: $animation-timing-function;
}

.tile__placeholder--o-selected {
  animation: checked 0.25s $animation-timing-function both;
  color: $circle-green;
  text-shadow: $green-shadow;
}

.tile__placeholder--x-selected {
  animation: checked 0.25s $animation-timing-function both;
  color: $cross-red;
  text-shadow: $red-shadow;
}

@media screen and (min-width: $break-point) {
  .tile__placeholder {
    font-size: 6rem;
  }
}