@import "sass/setup";

@keyframes checked {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.tile__label {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.tile__label--disabled,
.tile__label--dirty {
  cursor: default;
}

.tile__label--o-highlight {
  background-color: $circle-green-lighten;
}
.tile__label--x-highlight {
  background-color: $cross-red-lighten;
}

.tile__radio-input {
  display: inline-block;
  @include a11y-visually-hidden();
}

.tile__placeholder {
  position: absolute;
  font-size: 100px;
  color: $placeholder-gray;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: color, text-shadow;
  transition-duration: 0.12s;
  transition-timing-function: $animation-timing-function;
}

.tile__placeholder--o-selected {
  animation: checked 0.25s $animation-timing-function both;
  color: $circle-green;
  text-shadow: 0 1px $circle-green-darken, 0 2px $circle-green-darken,
    0 3px $circle-green-darken, 0 4px $circle-green-darken,
    0 5px $circle-green-darken, 0 6px $circle-green-darken,
    0 7px $circle-green-darken, 0 8px $circle-green-darken,
    0 20px rgba(0, 0, 0, 0.1);
}

.tile__placeholder--x-selected {
  animation: checked 0.25s $animation-timing-function both;
  color: $cross-red;
  text-shadow: 0 1px $cross-red-darken, 0 2px $cross-red-darken,
    0 3px $cross-red-darken, 0 4px $cross-red-darken, 0 5px $cross-red-darken,
    0 6px $cross-red-darken, 0 7px $cross-red-darken, 0 8px $cross-red-darken,
    0 20px rgba(0, 0, 0, 0.1);
}
