@import "normalize.css";
@import "sass/setup";

html {
  font-size: $base-font-size;
  color: $default-black;
  font-family: "Helvetica", sans-serif;
}

body {
  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  background-color: $background-white;
}

.app {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.app__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}
.app__game-board {
  background-color: $default-white;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 5px 5px $shadow-gray;
  border-radius: 6px;
  @extend %clearfix;
}